<header class="gp-header">
  <nav class="gp-nav" aria-label="Navegación principal">

    <!-- LOGO -->
    <a href="#" class="gp-brand" aria-label="Ir al inicio">
      <span class="gp-logo-box">
        <img
          src="assets/logos/logo.png"
          alt="Logo Reciclajes GP"
          class="gp-logo dark:hidden"
        />

        <img
          src="assets/logos/logo-dark.png"
          alt="Logo Reciclajes GP"
          class="gp-logo hidden dark:block"
        />
      </span>

      <span class="gp-brand-text">
        <span class="gp-brand-name">
          RECICLAJES <strong>GP</strong>
        </span>

        <span class="gp-brand-slogan">
          Piensa en verde, recicla
        </span>
      </span>
    </a>

    <!-- NAV DESKTOP -->
    <div class="gp-desktop-links">
      <a href="#materiales">Materiales</a>
      <a href="#servicios">Servicios</a>
      <a href="#publicaciones">Publicaciones</a>
      <a href="#contacto">Contacto</a>
    </div>

    <!-- ACCIONES -->
    <div class="gp-actions">

      <app-theme-toggle></app-theme-toggle>


      <a
        href=""
        target="_blank"
        rel="noopener noreferrer"
        class="gp-whatsapp gp-whatsapp-desktop"
      >
        WhatsApp
      </a>

     
    </div>
  </nav>
</header>