<button
  #toggleThemeButton
  type="button"
  class="theme-toggle"
  role="switch"
  aria-label="Modo oscuro"
  [attr.aria-checked]="isDark() ? 'true' : 'false'"
  [attr.aria-disabled]="isChanging() ? 'true' : null"
  [attr.title]="ariaLabel()"
  [class.is-dark]="isDark()"
  [class.is-changing]="isChanging()"
  (click)="onToggleTheme()"
>
  <span class="sky" aria-hidden="true" data-theme-animation>
    <span class="cloud cloud-1" data-theme-animation></span>
    <span class="cloud cloud-2" data-theme-animation></span>

    <span class="star star-1" data-theme-animation></span>
    <span class="star star-2" data-theme-animation></span>
    <span class="star star-3" data-theme-animation></span>
    <span class="star star-4" data-theme-animation></span>
    <span class="star star-5" data-theme-animation></span>
  </span>

  <span class="orb" aria-hidden="true" data-theme-animation>
    <span class="crater crater-1" data-theme-animation></span>
    <span class="crater crater-2" data-theme-animation></span>
    <span class="crater crater-3" data-theme-animation></span>
  </span>

  <span class="sr-only">
    {{ switchText() }}
  </span>
</button>